Source: kissync
Section: extras
Priority: optional
Maintainer: Travis Cunningham <travcunn@umail.iu.edu>
Build-Depends: python (>= 2.7.0), pyside
Standards-Version: 3.9.2
Homepage: https://www.kissync.com
Vcs-Browser: https://github.com/travcunn/kissync-python
Vcs-Git: https://github.com/travcunn/kissync-python.git

Package: kissync
Architecture: all
Depends: ${misc:Depends}, python (>= 2.7.0), pyside
Description: SmartFile Cloud Synchronization
 Kissync is an open source desktop client that synchronizes all of your files 
 between any computers and the SmartFile cloud.